<div class="container app-wrapper">
  <div class="row">
    <div class="col s6">
      <div class="card-panel blue-grey darken-3">
        <div class="center-align">
          <button type="button" name="button" class="btn btn-primary orange waves-effect" routerLink="/selectseason">Application</button>
        </div>
      </div>
    </div>
    <div class="col s6">
      <div class="card-panel blue-grey darken-3">
        <div class="center-align">
          <button type="button" name="button" class="btn btn-primary orange waves-effect" routerLink="/home">Waiver</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <div class="card-panel blue-grey darken-3">
        <div class="center-align">
          <button type="button" name="button" class="btn btn-primary orange waves-effect" routerLink="/home">Players</button>
        </div>
      </div>
    </div>
    <div class="col s6">
      <div class="card-panel blue-grey darken-3">
        <div class="center-align">
          <button type="button" name="button" class="btn btn-primary orange waves-effect" routerLink="/home">Stats</button>
        </div>
      </div>
    </div>
  </div>
</div>
