<div class="container app-wrapper">
  <div class="row">
    <div class="col s12 m6">
      <div class="card-panel brown darken-4">
        <div class="center-align">
          <button *ngIf="!isAppComplete" type="button" name="button" class="btn btn-primary orange waves-effect" routerLink="/selectseason">Application</button>
          <button *ngIf="isAppComplete" type="button" name="button" class="btn btn-primary orange waves-effect" diabled>Application Completed</button>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card-panel brown darken-4">
        <div class="center-align">
          <button type="button" name="button" class="btn btn-primary orange waves-effect"><a href="../../assets/NECBL_Waiver_Template.pdf" download>Waiver</a></button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <div class="card-panel brown darken-4">
        <div class="center-align">
          <button type="button" name="button" class="btn btn-primary orange waves-effect" routerLink="/players">Players</button>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card-panel brown darken-4">
        <div class="center-align">
          <button type="button" name="button" class="btn btn-primary orange waves-effect" routerLink="/home">Stats</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="isAdmin">
    <div class="col s12 m6">
      <div class="card-panel brown darken-4">
        <div class="center-align">
          <button type="button" name="button" class="btn btn-primary orange waves-effect" routerLink="/createseason">Create Season</button>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card-panel brown darken-4">
        <div class="center-align">
          <button type="button" name="button" class="btn btn-primary orange waves-effect" routerLink="/createseason">Create Game</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="isAdmin">
    <div class="col s12 m6">
      <div class="card-panel brown darken-4">
        <div class="center-align">
          <button type="button" name="button" class="btn btn-primary orange waves-effect" routerLink="/createseason">All Applications</button>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card-panel brown darken-4">
        <div class="center-align">
          <button type="button" name="button" class="btn btn-primary orange waves-effect" routerLink="/createseason">All Games</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <blockquote>
        球队合照和球员免责协议Waiver：<br />
        球队都需要递交一张最新的团队合照， 每一位参赛的球员都必须签署免责协议(点击右上方Waiver下载表格)，再将合照，免责协议一同Email至necbl.info@gmail.com。注：Email标题请使用 “NECBL（赛区) - (球队名称)”， 如： NECBLLake12 - University of Rochester。 如不使用规范格式，邮件可能会被系统忽略，耽误球队报名时间。
      </blockquote>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <blockquote>
        报名费（$500) 可以通过以下方式递交：<br/>
        <table class="bordered">
          <tr>
            <th>Chase QuickPay: necbl.info@gmail.com</th>
            <th>Venmo: @miao-huang</th>
          </tr>
          <tr>
            <th>Bank of America transfer: garyran88@hotmail.com</th>
            <th>Paypal: 3154809161</th>
          </tr>
        </table>
        付款时请注明 “2017 NECBL” + "赛区名称" + "学校名称" <br/>
        注：率先完成申请，将团队合照，每位球员的免责协议，报名费交齐的球队将优先获得参赛资格 <br/>
        更改花名册：报名截止后修改花名册每次费用为$50美金
      </blockquote>
    </div>
  </div>
</div>
