<div class="container">
    <h4>Please Select your school and login</h4>
    <form (submit)="onSubmit($event)">
      <div class="form-group">
        <label for="school">School Name</label>
        <select class="form-control" id="school" required [(ngModel)]="schoolName" name="shcoolName">
          <option *ngFor="let school of schools" value="{{school.name}}">{{school.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="alterEgo">Passcode</label>
        <input type="password" class="form-control" id="passcode" required="" [(ngModel)]="passcode" name="passcode">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
      <button type="button" class="btn btn-default" (click)="SignupPage()" *ngIf="isSignupShow">Signup</button>
    </form>
</div>
