<div id="top-bar" class="row"> 
	<span id="necbl" class="col s5">
		<h4>美东杯 NECBL CUP</h4>
		<img src="../../../assets/image/necbl2.jpg" alt="necbl2">
		<p>美东杯是由NECBL创始人Peter Ran发起，为了结合美东各大高校，促进美东校园学生篮球的发展而举办的学生篮球赛。 自2007年以来，美东杯已成功举办了8届，举办于每年樱花纷飞、一年复始的4月份。经过8年的成长， 美东赛规模已经从10几个学校代表队增长为28-32个学校代表队。每年4月的美东赛已经成为美东最被认可的学生联赛， 多次得到国内外认可。每年美东赛的善款，也为祖国带去美东留学生的一份心意。 “我向所有参加 '北美中国篮球联赛' 的华人朋友们和现场为汶川捐款的朋友致敬！也希望他们的北美篮球联赛越办越好， 参加的球队越来越多，你们的义举已经超越的篮球赛本身的意义，欢迎你们有机会也回国观看中国国家队和CBA比赛。” - 李楠 NECBL的全体工作人员会竭尽全力为大家带来更好的赛事。</p>
	</span>
	<span id="linan" class="col s5">
		<img src="../../../assets/image/linan.jpg" alt="linan">
	</span>
</div>

<div id="region-introduction" class="col s12">
	<h4>分区赛 REGIONAL TOURNAMENT</h4>
	<img src="../../../assets/image/regional2.jpg" alt="region">
	<p>自第一届美东以来，美东杯的规模已经从10只球队的小比赛成长成了40个学校参赛队的美东最大的高校华人篮球比赛，近年比赛常常由于场地限制已无法满足所有学校都参赛的要求。 至此，美东杯高校华人篮球赛将于2016-2017年度开展分区赛，让更多的学校参与美东杯的赛事。根据学校的分布，美东杯组委会制定了6个赛区， 其中包括两个新赛区，具体命名和分布如下：</p>
</div>

<div class="region-info">
	<ul class="collapsible popout" data-collapsible="accordion">
		<li>
			<div class="collapsible-header">
				<div>
					<img src="../../../assets/image/anc.jpg" alt="#">
					<span>Atalantic North</span>
				</div>
			</div>
			<div class="collapsible-body">
				<ul>
					<li><h5>波士顿地区</h5></li>
					<li><h5>缅因州</h5></li>
					<li><h5>佛蒙特州</h5></li>
					<li><h5>新罕布什尔州</h5></li>
					<li><h5>东康涅狄格州</h5></li>
				</ul>
			</div>
		</li>
		<li>
			<div class="collapsible-header">
				<div>
					<img src="../../../assets/image/cec.jpg" alt="#">
					<span>Central East</span>
				</div>
			</div>
			<div class="collapsible-body">
				<ul>
					<li><h5>华盛顿大华府地区</h5></li>
					<li><h5>马里兰州</h5></li>
					<li><h5>弗吉尼亚州</h5></li>
					<li><h5>西弗吉尼亚州</h5></li>
					<li><h5>特拉华州</h5></li>
				</ul>
			</div>
		</li>
		<li>
			<div class="collapsible-header">
				<div>
					<img src="../../../assets/image/ltc.jpg" alt="#">
					<span>Lake 12</span>
				</div>
			</div>
			<div class="collapsible-body">
				<ul>
					<li><h5>纽约上州</h5></li>
					<li><h5>西宾夕法尼亚州</h5></li>
					<li><h5>东俄亥俄州</h5></li>
					<li><h5>多伦多市</h5></li>
				</ul>
			</div>
		</li>
		<li>
			<div class="collapsible-header">
				<div>
					<img src="../../../assets/image/mc.jpg" alt="Metropolitan">
					<span>Metropolitan</span>
				</div>
			</div>
			<div class="collapsible-body">
				<ul>
					<li><h5>纽约市</h5></li>
					<li><h5>长岛</h5></li>
					<li><h5>西康涅狄格州</h5></li>
					<li><h5>费城</h5></li>
					<li><h5>新泽西州</h5></li>
				</ul>
			</div>
		</li>
		<li>
			<div class="collapsible-header">
				<div>
					<img src="../../../assets/image/mwc.jpg" alt="Midwest">
					<span>Midwest</span>
				</div>
			</div>
			<div class="collapsible-body">
				<ul>
					<li><h5>西俄亥俄州</h5></li>
					<li><h5>印第安纳州</h5></li>
					<li><h5>伊利诺伊州</h5></li>
					<li><h5>密西根州</h5></li>
					<li><h5>密苏里州</h5></li>
					<li><h5>肯塔基州</h5></li>
				</ul>
			</div>
		</li>
		<li>
			<div class="collapsible-header">
				<div>
					<img src="../../../assets/image/msc.jpg" alt="Mountain South">
					<span>Mountain South</span>
				</div>
			</div>
			<div class="collapsible-body">
				<ul>
					<li><h5>田纳西州</h5></li>
					<li><h5>北卡罗莱纳州</h5></li>
					<li><h5>南卡罗莱纳州</h5></li>
					<li><h5>乔治亚州</h5></li>
					<li><h5>阿拉巴马州</h5></li>
					<li><h5>西弗吉尼亚州</h5></li>
				</ul>
			</div>
		</li>
	</ul>
	<div id="jinji">
		<h4>晋级资格分配</h4>
			<p>分区赛定在每年的秋季，每个分区名列前茅的球队将获得第二年四月美东杯的参赛资格，没有参加分区赛的球队无法参加美东杯总决赛， 分区赛晋级名额将由美东杯组委会根据分区参赛球队的美东排名以及过往晋级学校在四月美东杯的战绩而定。当出现有获得晋级名额的球队放弃美东杯参赛资格的情况时， 美东杯组委会将指定一所球队参加，此球队必须参加了当学年的分区赛。</p>
	</div>
</div>
