<div class="container app-wrapper">
    <h4>My Games</h4>
    <p class="red-text" *ngIf="errorMessage">{{errorMessage}}</p>
    <table>
      <thead>
        <tr>
          <th>Home School</th>
          <th>Away School</th>
          <th>Location</th>
          <th>Date</th>
          <th>Time</th>
          <th>Season</th>
          <th>Region</th>

        </tr>
        <tr *ngFor="let game of games">
          <td>{{game.home.name}}</td>
          <td>{{game.away.name}}</td>
          <td>{{game.location}}</td>
          <td>{{game.date}}</td>
          <td>{{game.time}}</td>
          <td>{{game.season.name}}</td>
          <td>{{game.region}}</td>
        </tr>
      </thead>
    </table>
    <button type="button" class="btn btn-default waves-effect waves-light" routerLink="/dashboard">Back</button>
</div>
