nav {
    padding-left: 15%;
    padding-right: 15%;
}

nav ul a:hover {
    color: #fff600;
}

nav ul li {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

.top-background {
    /*margin-top: -10%;*/
    width: auto;
    max-height: 700px;
}

/*.real-time-billboard img {
	width: 100%;
}*/
