<div>
	<div class="container app-wrapper">
		<ul>
			<li class="row home-row">
				<div class="col s8 home-carousel">
					<!--TODO-->
					<!--<ul class="slides">
						<li *ngFor="#image of images">
							<h2>{{image.title}}</h2>
							<img src="{{image.url}}" alt="">
						</li>
					</ul>-->
				</div>
			</li>
			<li class="row home-row">
				<span class="col s5">
					<p class="home-sub-title">NECBL 美东杯</p>
					<img class="home-sub-image" src="../../assets/image/necbl2.jpg" alt="#">
					<p>美东杯是由NECBL创始人Peter Ran发起，为了结合美东各大高校，促进美东校园学生篮球的发展而举办的学生篮球赛。 自2007年以来，美东杯已成功举办了8届，举办于每年樱花纷飞、一年复始的4月份。经过8年的成长， 美东赛规模已经从10几个学校代表队增长为28-32个学校代表队。每年4月的美东赛已经成为美东最被认可的学生联赛， 多次得到国内外认可。每年美东赛的善款，也为祖国带去美东留学生的一份心意</p>
				</span>
				<span class="col s5 home-sub-module-right">
					<p class="home-sub-title">分区赛</p>
					<img class="home-sub-image" src="../../assets/image/regional2.jpg" alt="#">
					<p>自第一届美东以来，美东杯的规模已经从10只球队的小比赛成长成了40个学校参赛队的美东最大的高校华人篮球比赛，近年比赛常常由于场地限制已无法满足所有学校都参赛的要求。 至此，美东杯高校华人篮球赛将于2016-2017年度开展分区赛，让更多的学校参与美东杯的赛事。根据学校的分布，美东杯组委会制定了6个赛区， 其中包括两个新赛区.</p>
				</span>
			</li>
		</ul>
	</div>
</div>
