:host {
	color: black;
	margin-top: -5%;
	background-image: url('../../assets/image/web.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
}

ul {
	width: 100%;
}

.home-introduction span h4 {
	margin-top: 5%;
	font-size: 2em;
}

.home-introduction span p {
	margin-top: 2%;
	font-size: 1.2em;
}


.home-row {
	margin-top: 50px;
	margin-bottom: 50px;
}

.gallery {
	margin-top: 50px;
	margin-bottom: 50px;
}

home-page-gallery {
	text-align: center;
	width: 100%;
}

.home-sub-title {
    text-align: center;
}

.home-content {
	font-size: 1.2em;
}

.home-sub-module-right {
	float: right;
}

.home-sub-image {
	width: 65%;
	border-top-right-radius: 2em;
    border-top-left-radius: 2em;
	border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
}
.map-wrapper{
	width: 100%;
	overflow: hidden;
	height: 500px;
	border-top-right-radius: 2em;
	border-top-left-radius: 2em;
	border-bottom-right-radius: 2em;
	border-bottom-left-radius: 2em;
}

#map{
	border: none;
	height: 100%;
	width: 100%;
	position: relative;
	top: -48px;
}

.mission {
	background-color: green;
}

.sebm-google-map-container {
  height: 500px;
}

.top-background {
    /*margin-top: -10%;*/
    width: auto;
    max-height: 700px;
}
a{
	color: #3e2723;
}

.necbl{
	max-height: 200px;
}
.header-title{
	height: 100vh;
	padding-top: 250px;
}
.team{
	max-height: 100px;
}
.goal{
	max-height: 100px;
}
