<div>
	<div class="container app-wrapper">
		<div class="row center-align">
			<img class="top-background" src="../../../assets/image/cupLogo.png" alt="home_page_sample">
		</div>
		<ul>
			<!-- <li class="gallery row">
				<home-page-gallery [datasource] = images></home-page-gallery>
			</li> -->

			<li  class="home-introduction row home-row">
				<div class="row">
					<span class="col s12 center-align home-sub-module-right">
						<h4 class="home-sub-title">Regional Tournament</h4>
						<!-- <sebm-google-map [latitude]="lat" [longitude]="lng">
							<sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
						</sebm-google-map> -->
						<iframe id="map" src="https://www.google.com/maps/d/embed?mid=1J_a9o2Z0GWhcC8CT3uj-Xtl81CU"></iframe>
						<!-- <img class="home-sub-image" src="../../assets/image/regional2.jpg" alt="#"> -->
						<p>六大分区，覆盖全美22州，各路豪强，争夺美东杯晋级名额</p>
					</span>
				</div>
				<div class="row">
					<span class="col s12 center-align">
						<h4 class="home-sub-title">NECBL Cup</h4>
						<img class="home-sub-image" src="../../assets/image/necbl2.jpg" alt="#">
						<p>每届美东杯都举办于春暖花开的春季，参赛球队从分区赛中脱颖而出，争夺北美最强之巅</p>
					</span>
				</div>
			</li>
		</ul>
	</div>
</div>
