:host {
	color: black;
}

.home-row {
	margin-top: 50px;
	margin-bottom: 50px;
}

.gallery {
	width: 100%;
}

.home-sub-title {
	font-size: 2em;
    text-align: center;
}

.home-content {
	font-size: 1.2em;
	margin-left: 50px !important;
	height: 200px;
}

.home-sub-module-right {
	float: right;
}

.home-sub-image {
	width: 100%;
	border-top-right-radius: 2em;
    border-top-left-radius: 2em;
	border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
}

.mission {
	background-color: green;
}

