<div>
	<div class="container app-wrapper">
		<ul>
			<li class="gallery row">
				<home-page-gallery [datasource] = images></home-page-gallery>
			</li>
			<li class="home-introduction row home-row">
				<span class="col s5">
					<h4 class="home-sub-title">NECBL Cup</h4>
					<img class="home-sub-image" src="../../assets/image/necbl2.jpg" alt="#">
					<p>每届美东杯都举办于春暖花开的春季，参赛球队从分区赛中脱颖而出，争夺北美最强之巅</p>
				</span>
				<span class="col s5 home-sub-module-right">
					<h4 class="home-sub-title">Regional Tournament</h4>
					<img class="home-sub-image" src="../../assets/image/regional2.jpg" alt="#">
					<p>六大分区，覆盖全美22州，各路豪强，争夺美东杯晋级名额</p>
				</span>
			</li>
		</ul>
	</div>
</div>
