<div class="container app-wrapper" *ngIf="player">
  <div class="row">
    <div class="col m3">
      <img *ngIf="!player.photo" class="responsive-img circle" src="../../assets/image/default_avatar.png" alt="">
      <img *ngIf="player.photo" class="responsive-img circle" [src]="player.photo" alt="">
    </div>
    <div class="col m9">
      <h1>{{player.name}}</h1>
      <h2>#{{player.number}} {{player.school.name}}</h2>
    </div>
  </div>
  <!-- <div class="row">
    <select class="" name="" materialize="material_select" [materializeSelectOptions]="selectOptions">
      <option value="" disabled selected>Select Season</option>
      <option value="season.name" *ngFor="let season of player.seasonshistory">{{season.name}}</option>
    </select>
  </div> -->
  <div class="row card-panel">
    <table class="responsive-table">
      <tr>
        <th>Season</th>
        <th>Game</th>
        <th>PTS总得分</th>
        <th>FGM两分命中</th>
        <th>FGA两分出手</th>
        <th>FG%两分命中率</th>
        <th>3PM三分命中</th>
        <th>3PA三分出手</th>
        <th>3P%三分命中率</th>
        <th>FTM罚球命中</th>
        <th>FTA罚球出手</th>
        <th>FT%罚球命中率</th>
        <th>AST助攻</th>
        <th>STL抢断</th>
        <th>PF犯规</th>
        <th>BLK盖帽</th>
      </tr>
      <tr *ngFor="let gamehistory of player.gameshistory">
        <td>{{gamehistory.game.season.name}}</td>
        <td>{{gamehistory.game.date}} {{gamehistory.game.time}}</td>
        <td>{{gamehistory.PTS}}</td>
        <td>{{gamehistory.FGM}}</td>
        <td>{{gamehistory.FGA}}</td>
        <td>{{gamehistory.FGM/gamehistory.FGA * 100| number : '1.2-2'}}</td>
        <td>{{gamehistory.ThreePM}}</td>
        <td>{{gamehistory.ThreePA}}</td>
        <td>{{gamehistory.ThreePM/gamehistory.ThreePA * 100 | number : '1.2-2'}}</td>
        <td>{{gamehistory.FTM}}</td>
        <td>{{gamehistory.FTA}}</td>
        <td>{{gamehistory.FTM/gamehistory.FTA * 100 | number : '1.2-2'}}%</td>
        <td>{{gamehistory.AST}}</td>
        <td>{{gamehistory.STL}}</td>
        <td>{{gamehistory.PF}}</td>
        <td>{{gamehistory.BLK}}</td>
      </tr>
    </table>
  </div>
    <!-- <h3>{{player.name}}</h3>
    <div class="row">
      <div class="col m4 s12">
        <h4>Attended Season</h4>
        <ul>
          <li *ngFor="let season of player.seasonshistory">{{season.name}}</li>
        </ul>
      </div>
      <div class="col m4 s12">
        <h4>Attended Region</h4>
        <ul>
          <li *ngFor="let region of player.regionshistory">{{region.name}}</li>
        </ul>
      </div>
      <div class="col m4 s12">
        <h4>Game History</h4>
        <ul>
          <li *ngFor="let game of player.gameshistory">{{game.name}}</li>
        </ul>
      </div>
    </div> -->
</div>
