p{
	margin-top: 0;
}
.about-us-title {
	width: 300px;
	height: 200px;
	font-size: 2em;
	color: #FFF;
}

.mission {
	background-color: green;
}

.history {
	background-color: orange;
}

.donation {
	background-color: dodgerblue;
}

.about-us-team {
	width: 25.5%;
	height: 50px;
	background-color: #2F210F;
	margin-left: -0.75rem;
	margin-right: -0.75rem;
	padding: 0 0.75rem;
}

.about-us-team-image {
	height: 15em;
}

.about-us-team-job {

	margin-top: 30px;
}

.about-us-team-name {
	margin-top: 30px;
}
