<div>
	<div class="container app-wrapper">
		<ul>
			<li class="row about-us-row">
				<span class="col s3 about-us-title mission">Mission</span>
				<span class="col s8 about-us-content">
					The NECBL community is to be an integral part of Chinese students and alumni community and to embrace the development of our members interest in team sports as a whole.
				</span>
			</li>
			<li class="row about-us-row">
				<span class="col s3 about-us-title history">History</span>
				<span class="col s8 about-us-content">
					Formed on August 8th, 2008, the North East Chinese Basketball League features chinese students and alumni basketball players in the northeast of United States with a sponsorship from the non-profit organization GAPS foundation. The first year’s games (April 19 2008) were held in Aston, Pennsylvania and composed of University of Delaware, Drexel University, University of Pennsylvania, South New Jersey Temple university, and West Philadelphia. In the competition, University of Delaware came to win the 1st place, followed by South New Jersey and University of Pennsylvania. By 2015, NECBL has successfully held 8 annual NECBL tournaments. The NECBL community is not just a organization for those who sole enjoy the sports activities. Furthermore, as its mission statement entails, it is destined to be an integral part of the chinese students’ community. Hence, we promote not only the sportsmanship within each other, but also the overall development of team sports as a whole.
				</span>
			</li>
			<li class="row about-us-row">
				<span class="col s3 about-us-title donation">Donation</span>
				<span class="col s8 about-us-content">
					In the past years, the NECBL has dedicated all the excess of registration fee to help those in need. Namely, the 2011 tournament donated its registration fund as well as donation collected at the tournament to the 2010 Yushu tournament. In 2012, fund was given to the China Youth development foundation. In 2013, the collection of excess registration fund and donations were given to a Ohio State University student who suffered a major accident in that year. The nonprofit community is dedicated to provide help to the society as we believe that a good athlete ought to not only display the leadership in its participating sports, but also demonstrates leadership in social responsibilities. We also welcome suggestions helping us develop those opportunities to address these social issues.
				</span>
			</li>
			<li class="about-us-row">
				<div class="col s3 about-us-title about-us-team">Team</div>
				<div class="row about-us-team-job">
					<span class="col s3">Founder</span>
					<span class="col s3">Executive Coordinator</span>
					<span class="col s3">Institutional Coordinator Public Relationship</span>
					<span class="col s3">Internal Operating Coordinator</span>
				</div>
				<div class="row">
					<span class="col s3"><img class="about-us-team-image" src="../../assets/image/Peter.jpg" alt="#"></span>
					<span class="col s3"><img class="about-us-team-image" src="../../assets/image/Ran.jpg" alt="#"></span>
					<span class="col s3"><img class="about-us-team-image" src="../../assets/image/Mek.jpg" alt="#"></span>
					<span class="col s3"><img class="about-us-team-image" src="../../assets/image/leo.jpg" alt="#"></span>
				</div>
				<div class="row about-us-team-name">
					<span class="col s3">Peter Ran</span>
					<span class="col s3">Ran Gao</span>
					<span class="col s3">Mekenzie Huang</span>
					<span class="col s3">Leo Shen</span>
				</div>
			</li>
		</ul>
	</div>
</div>
