<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        <img src="../../assets/image/footer-logo.jpg" alt="NECBL">
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul class="social-link">
          <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/NECBL-710733599058280/timeline/"><i class="fa fa-facebook-square" style="font-size:36px"></i></a></li>
          <li><a class="grey-text text-lighten-3" href="https://twitter.com/NECBL_Community"><i class="fa fa-twitter-square" style="font-size:36px"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright black">
    <div class="container">
    © 2017 NORTHEASTERN CHINESE BASKETBALL LEAGUE. ALL RIGHTS RESERVED
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
