<footer class="page-footer grey darken-4">

  <div class="footer-copyright black">
    <div class="container">
      <div class="row">
        <ul class="social-link">
          <!-- <li><a class="grey-text text-lighten-3" href="https://twitter.com/NECBL_Community"><img src="../../assets/image/instagram.jpg" class="fa-instagram-square fa" alt=""></a></li>
          <li><a class="grey-text text-lighten-3" href="https://twitter.com/NECBL_Community"><img src="../../assets/image/wechat.png" class="fa-wechat-square fa" alt=""></a></li>
          <li><a class="grey-text text-lighten-3" href="https://twitter.com/NECBL_Community"><img src="../../assets/image/weibo.png" class="fa-weibo-square fa" alt=""><</a></li> -->
          <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/NECBL-710733599058280/timeline/"><i class="fa fa-facebook-square" style="font-size:36px"></i></a></li>
          <li><a class="grey-text text-lighten-3" href="https://twitter.com/NECBL_Community"><i class="fa fa-twitter-square" style="font-size:36px"></i></a></li>
        </ul>
        <p>© 2017 NORTHEASTERN CHINESE BASKETBALL LEAGUE. ALL RIGHTS RESERVED</p>
      </div>
    </div>
  </div>
</footer>
