<div class="container app-wrapper">
    <h4>All Players</h4>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>School（学校）</th>
          <th>Legal Name（姓名）</th>
          <th>Grade（年级）</th>
          <th>Position （位置）</th>
          <th>Height （身高cm）</th>
          <th>No.（球衣号码）</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of players">
          <button type="button" class="btn waves-effect waves-light small flat btn-floating" data-target="modal" (click)="deletePlayer($event, player._id)">Delete</button>
          <td>{{player.school.name}}</td>
          <td><a href="#" routerLink="/playerstat/{{player._id}}">{{player.name}}</a></td>
          <td>{{player.grade}}</td>
          <td>{{player.position}}</td>
          <td>{{player.height}}</td>
          <td>{{player.number}}</td>
          <td>{{player.email}}</td>
          <!-- <div id="modal" class="modal bottom-sheet">
          <div class="modal-content">
          <h4>Delete Player {{player.name}}, {{player._id}}</h4>
          <p>You sure?</p>
          <button type="button" class="btn waves-effect waves-light" data-dismiss="modal" (click)="deletePlayer($event, player._id)">Delete</button>
        </div>
      </div> -->
        </tr>  
      </tbody>
    </table>
</div>
