<div class="container app-wrapper">
    <h4>Please Select Season to Apply</h4>
    <form materialize (submit)="onSubmit($event)">
      <div class="form-group">
        <label for="season">Season Name</label>
        <select materialize="material_select" [materializeSelectOptions]="selectOptions" class="form-control" id="season" required [(ngModel)]="seasonName" name="seasonName" (change)="getRegions($event)">
          <option disabled selected>Select Season</option>
          <option *ngFor="let season of seasons" [value]="season.name">{{season.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="region">Region Name</label>
        <select materialize="material_select" [materializeSelectOptions]="selectOptions" class="form-control" id="region" required [(ngModel)]="regionName" name="regionName">
          <option disabled selected>Select Region</option>
          <option *ngFor="let region of regions" [value]="region.name">{{region.name}}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-default waves-effect waves-light">Next</button>
      <button type="button" class="btn btn-default waves-effect waves-light" routerLink="/createseason" *ngIf="isAdmin">Create New Season</button>
    </form>
</div>
