<div class="container app-wrapper">
    <h4>All Games</h4>
    <p class="red-text" *ngIf="errorMessage">{{errorMessage}}</p>
    <table class="striped">
      <thead>
        <tr>
          <th></th>
          <th>Home School</th>
          <th>Away School</th>
          <th class="hide-on-small-only">Location</th>
          <th>Date</th>
          <th>Time</th>
          <th class="hide-on-small-only">Season</th>
          <th class="hide-on-small-only">Region</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of games">
          <td>
            <button *ngIf="game.livelink" type="button" class="btn btn-default waves-effect waves-light"><a href="http://{{game.livelink}}" target="_blank">Live</a></button>
            <button type="button" class="btn btn-default waves-effect waves-light" routerLink="/game/{{game._id}}">详情</button>
          </td>
          <td>{{game.home.name}}</td>
          <td>{{game.away.name}}</td>
          <td class="hide-on-small-only">{{game.location}}</td>
          <td>{{game.date}}</td>
          <td>{{game.time}}</td>
          <td class="hide-on-small-only">{{game.season.name}}</td>
          <td class="hide-on-small-only">{{game.region}}</td>
        </tr>
      </tbody>
    </table>
</div>
