<div class="container app-wrapper">
    <h4>Application Form <h6>温馨提示：表格一旦提交将无法修改</h6></h4>
    <!-- <app-file-uploader></app-file-uploader> -->
    <button type="button" class="btn btn-default waves-effect waves-light" routerLink="/addplayer">Add Player</button>
    <table>
      <thead>
        <tr>
          <th>Legal Name（姓名）</th>
          <th>Grade（年级）</th>
          <th>Position （位置）</th>
          <th>Height （身高cm）</th>
          <th>No.（球衣号码）</th>
          <th>Email</th>
          <th></th>
        </tr>
        <tr *ngFor="let player of players">
          <td>{{player.name}}</td>
          <td>{{player.grade}}</td>
          <td>{{player.position}}</td>
          <td>{{player.height}}</td>
          <td>{{player.number}}</td>
          <td>{{player.email}}</td>
          <td><button type="button" name="button" class="btn btn-primary" (click)="deletePlayer($event,player._id)">Delete</button></td>
        </tr>
      </thead>
    </table>
    <form (submit)="onSubmit($event)">
      <div class="row">
        <div class="input-field col s4">
          <i class="material-icons prefix">stars</i>
          <label for="schoolName">School Name</label>
          <input type="text" class="form-control" [(ngModel)]="schoolName" id="schoolName" required name="schoolName" required>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">account_circle</i>
          <label for="managerName">Manager Name</label>
          <input type="text" class="form-control" [(ngModel)]="managerName" id="managerName" required name="managerName" required>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">account_circle</i>
          <label for="captainName">Captain Name</label>
          <input type="text" class="form-control" [(ngModel)]="captainName" id="captainName" required name="captainName" required>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s4">
          <i class="material-icons prefix">subject</i>
          <label for="teamName">Team Name</label>
          <input type="text" class="form-control" [(ngModel)]="teamName" id="teamName" required name="teamName" required>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">phone</i>
          <label for="managerPhone">Manager Phone</label>
          <input type="tel" class="form-control" [(ngModel)]="managerPhone" id="managerPhone" required name="managerPhone" required>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">phone</i>
          <label for="captainPhone">Captain Phone</label>
          <input type="tel" class="form-control" [(ngModel)]="captainPhone" id="captainPhone" required name="captainPhone" required>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">library_books</i>
          <textarea [(ngModel)]="description" name="description" id="teamDesc" class="materialize-textarea" required></textarea>
          <label for="teamDesc">Description</label>
        </div>
      </div>
      <div class="row">

      </div>
      <button type="submit" class="btn btn-default waves-effect waves-light">Submit</button>
      <button type="button" class="btn btn-default waves-effect waves-light" routerLink="/dashboard">Back</button>
    </form>
</div>
