/* You can add global styles to this file, and also import other style files */

html {
  font-family: 'Noto Sans', sans-serif;
  background-image: url("assets/image/bg-body.jpg");
}

.app-wrapper {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}

nav {
  background-image: url("assets/image/bg-header.jpg");
}
