<div class="container app-wrapper">
    <h4>Add Player</h4>
    <p class="red-text">{{errorMessage}}</p>
    <div class="row">
      <div class="col s4 m4">
        <img *ngIf="avatar" [src]="avatar" alt="avatar" class="avatar">
        <img *ngIf="!avatar" src='../../assets/image/default_avatar.png' class="avatar" alt="avatar">
      </div>
    </div>
    <app-file-uploader (avatar)='onAvatar($event)'></app-file-uploader>
    <form (submit)="onSubmit($event)">
      <div class="row">
        <div class="input-field col s4">
          <i class="material-icons prefix">account_circle</i>
          <label for="legalName">Legal Name（姓名)</label>
          <input type="text" class="form-control" id="legalName" required="" name="legalName"  [(ngModel)]="name" required>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">class</i>
          <select materialize="material_select" [materializeSelectOptions]="selectOptions" required [(ngModel)]="grade" name="grade">
            <option value="" disabled selected>Choose Grade</option>
            <option value="Freshman">Freshman</option>
            <option value="Sephomore">Sephomore</option>
            <option value="Junior">Junior</option>
            <option value="Senior">Senior</option>
            <option value="Graduate">Graduate</option>
            <option value="Alumni">Alumni</option>
          </select>
          <label>Grade（年级)</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">email</i>
          <label for="email" data-error="Wrong Email Format" data-success="">Email</label>
          <input type="email" class="form-control validate" id="email" required="" name="email" [(ngModel)]="email" required>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s4">
          <i class="material-icons prefix">person_pin</i>
          <select materialize="material_select" [materializeSelectOptions]="selectOptions" required [(ngModel)]="position" name="position">
            <option value="" disabled selected>Choose Position</option>
            <option value="PG">Point Guard</option>
            <option value="SG">Shooting Guard</option>
            <option value="PF">Point Forward</option>
            <option value="SF">Small Forward</option>
            <option value="C">Center</option>
          </select>
          <label>Position（位置)</label>
          <!-- <input type="text" class="form-control" id="position" required="" name="position" [(ngModel)]="position" required> -->
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">info</i>
          <label for="height">Height（身高cm)</label>
          <input type="number" class="form-control" id="height" required="" name="height" [(ngModel)]="height" required>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">stars</i>
          <label for="number">No.（球衣号码)</label>
          <input type="number" class="form-control" id="number" required="" name="number" [(ngModel)]="number" required>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <i class="material-icons">warning</i>
          <h6>姓名 - 参赛选手必须使用与政府ID上相同的名字报名，球员需凭ID检录，否则无法参赛</h6>
          <i class="material-icons">warning</i>
          <h6>球衣号码 - 参赛选搜必须身穿带有报名时使用号码的球衣登场，否则无法参赛</h6>
          <i class="material-icons">warning</i>
          <h6>参赛球衣 - 参赛球队必须穿着统一款式，统一颜色的球衣参赛，否则无法参赛</h6>
        </div>
      </div>

      <button type="submit" class="btn btn-default waves-effect waves-light">Submit</button>
      <button type="button" class="btn btn-default waves-effect waves-light" routerLink="/application">Back</button>

    </form>
</div>
